.drawing-area {
  padding-bottom: 15px;
  padding-top: 15px;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.players {
  padding-bottom: 15px;
  padding-top: 15px;
}

.guess-form {
  width: 70%;
  margin-right: auto;
}

.messages {
  width: 100%;
  height: 10em;
  resize: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  box-sizing: border-box;
}

.guess-btn {
  height: 2px;
}